.navBarContainer {
    display: flex;
    list-style: none;
}

.navLink {
    text-decoration: inherit;
    padding: 0 1.5rem;
    color: #161716;
    font-family: 'Helvetica', sans-serif;
}

.navLink:hover {
    font-weight: bold;
    color: #10422A;
}

.currentLink {
    font-weight: bold;
}