:root {
  --trevelo-color-1: #fff;
  --trevelo-color-2: #F5F7F6;
  --trevelo-color-3: #F2F5F4;
  --trevelo-color-4: #E1E3E2;
  --trevelo-color-5: #55635C;
  --trevelo-color-6: #46524C;
  --trevelo-color-7: #282B2A;
  --trevelo-color-8: #161716;
  --trevelo-color-9: #10422a;
}